[class*=illustration-] {
	position: relative;

	&::after {
		pointer-events: none;
	}
}

[class*=illustration-element-]::after {
	z-index: -1;
}

[class*=illustration-section-]::after {
	z-index: -2;
}

// Hero illustration
.illustration-section-01::after {
	@include illustration('head.svg', 100%, 286px, top);
}


// Features illustration 02
.illustration-section-02::after {
	@include illustration('scribbles-2.svg', 100%, 400px, 90px, null, -20px);
	background-size: 1600px 250px;;
	
}

